# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
blas=1.0=mkl
ca-certificates=2020.10.14=0
certifi=2020.11.8=py38hecd8cb5_0
dawg-python=0.7.2=pypi_0
dbus=1.13.18=h18a8e69_0
docopt=0.6.2=pypi_0
expat=2.2.10=hb1e8313_2
gettext=0.19.8.1=hb0f4f8b_2
glib=2.66.1=h9bbe63b_0
icu=58.2=h0a44026_3
intel-openmp=2019.4=233
jpeg=9b=he5867d9_2
libcxx=10.0.0=1
libedit=3.1.20191231=h1de35cc_1
libffi=3.3=hb1e8313_2
libiconv=1.16=h1de35cc_0
libpng=1.6.37=ha441bb4_0
mkl=2019.4=233
mkl-service=2.3.0=py38hfbe908c_0
mkl_fft=1.2.0=py38hc64f4ea_0
mkl_random=1.1.1=py38h959d312_0
ncurses=6.2=h0a44026_1
num2words=0.5.10=pypi_0
numpy=1.19.2=py38h456fd55_0
numpy-base=1.19.2=py38hcfb5961_0
openssl=1.1.1h=haf1e3a3_0
pcre=8.44=hb1e8313_0
pip=20.2.4=py38hecd8cb5_0
pyaudio=0.2.11=pypi_0
pymorphy2=0.9.1=pypi_0
pymorphy2-dicts-ru=2.4.417127.4579844=pypi_0
pyobjc=6.2.2=pypi_0
pyobjc-core=6.2.2=pypi_0
pyobjc-framework-accounts=6.2.2=pypi_0
pyobjc-framework-addressbook=6.2.2=pypi_0
pyobjc-framework-adsupport=6.2.2=pypi_0
pyobjc-framework-applescriptkit=6.2.2=pypi_0
pyobjc-framework-applescriptobjc=6.2.2=pypi_0
pyobjc-framework-applicationservices=6.2.2=pypi_0
pyobjc-framework-authenticationservices=6.2.2=pypi_0
pyobjc-framework-automaticassessmentconfiguration=6.2.2=pypi_0
pyobjc-framework-automator=6.2.2=pypi_0
pyobjc-framework-avfoundation=6.2.2=pypi_0
pyobjc-framework-avkit=6.2.2=pypi_0
pyobjc-framework-businesschat=6.2.2=pypi_0
pyobjc-framework-calendarstore=6.2.2=pypi_0
pyobjc-framework-cfnetwork=6.2.2=pypi_0
pyobjc-framework-cloudkit=6.2.2=pypi_0
pyobjc-framework-cocoa=6.2.2=pypi_0
pyobjc-framework-collaboration=6.2.2=pypi_0
pyobjc-framework-colorsync=6.2.2=pypi_0
pyobjc-framework-contacts=6.2.2=pypi_0
pyobjc-framework-contactsui=6.2.2=pypi_0
pyobjc-framework-coreaudio=6.2.2=pypi_0
pyobjc-framework-coreaudiokit=6.2.2=pypi_0
pyobjc-framework-corebluetooth=6.2.2=pypi_0
pyobjc-framework-coredata=6.2.2=pypi_0
pyobjc-framework-corehaptics=6.2.2=pypi_0
pyobjc-framework-corelocation=6.2.2=pypi_0
pyobjc-framework-coremedia=6.2.2=pypi_0
pyobjc-framework-coremediaio=6.2.2=pypi_0
pyobjc-framework-coreml=6.2.2=pypi_0
pyobjc-framework-coremotion=6.2.2=pypi_0
pyobjc-framework-coreservices=6.2.2=pypi_0
pyobjc-framework-corespotlight=6.2.2=pypi_0
pyobjc-framework-coretext=6.2.2=pypi_0
pyobjc-framework-corewlan=6.2.2=pypi_0
pyobjc-framework-cryptotokenkit=6.2.2=pypi_0
pyobjc-framework-devicecheck=6.2.2=pypi_0
pyobjc-framework-dictionaryservices=6.2.2=pypi_0
pyobjc-framework-discrecording=6.2.2=pypi_0
pyobjc-framework-discrecordingui=6.2.2=pypi_0
pyobjc-framework-diskarbitration=6.2.2=pypi_0
pyobjc-framework-dvdplayback=6.2.2=pypi_0
pyobjc-framework-eventkit=6.2.2=pypi_0
pyobjc-framework-exceptionhandling=6.2.2=pypi_0
pyobjc-framework-executionpolicy=6.2.2=pypi_0
pyobjc-framework-externalaccessory=6.2.2=pypi_0
pyobjc-framework-fileprovider=6.2.2=pypi_0
pyobjc-framework-fileproviderui=6.2.2=pypi_0
pyobjc-framework-findersync=6.2.2=pypi_0
pyobjc-framework-fsevents=6.2.2=pypi_0
pyobjc-framework-gamecenter=6.2.2=pypi_0
pyobjc-framework-gamecontroller=6.2.2=pypi_0
pyobjc-framework-gamekit=6.2.2=pypi_0
pyobjc-framework-gameplaykit=6.2.2=pypi_0
pyobjc-framework-imagecapturecore=6.2.2=pypi_0
pyobjc-framework-imserviceplugin=6.2.2=pypi_0
pyobjc-framework-inputmethodkit=6.2.2=pypi_0
pyobjc-framework-installerplugins=6.2.2=pypi_0
pyobjc-framework-instantmessage=6.2.2=pypi_0
pyobjc-framework-intents=6.2.2=pypi_0
pyobjc-framework-iosurface=6.2.2=pypi_0
pyobjc-framework-ituneslibrary=6.2.2=pypi_0
pyobjc-framework-latentsemanticmapping=6.2.2=pypi_0
pyobjc-framework-launchservices=6.2.2=pypi_0
pyobjc-framework-libdispatch=6.2.2=pypi_0
pyobjc-framework-linkpresentation=6.2.2=pypi_0
pyobjc-framework-localauthentication=6.2.2=pypi_0
pyobjc-framework-mapkit=6.2.2=pypi_0
pyobjc-framework-mediaaccessibility=6.2.2=pypi_0
pyobjc-framework-medialibrary=6.2.2=pypi_0
pyobjc-framework-mediaplayer=6.2.2=pypi_0
pyobjc-framework-mediatoolbox=6.2.2=pypi_0
pyobjc-framework-metal=6.2.2=pypi_0
pyobjc-framework-metalkit=6.2.2=pypi_0
pyobjc-framework-modelio=6.2.2=pypi_0
pyobjc-framework-multipeerconnectivity=6.2.2=pypi_0
pyobjc-framework-naturallanguage=6.2.2=pypi_0
pyobjc-framework-netfs=6.2.2=pypi_0
pyobjc-framework-network=6.2.2=pypi_0
pyobjc-framework-networkextension=6.2.2=pypi_0
pyobjc-framework-notificationcenter=6.2.2=pypi_0
pyobjc-framework-opendirectory=6.2.2=pypi_0
pyobjc-framework-osakit=6.2.2=pypi_0
pyobjc-framework-oslog=6.2.2=pypi_0
pyobjc-framework-pencilkit=6.2.2=pypi_0
pyobjc-framework-photos=6.2.2=pypi_0
pyobjc-framework-photosui=6.2.2=pypi_0
pyobjc-framework-preferencepanes=6.2.2=pypi_0
pyobjc-framework-pushkit=6.2.2=pypi_0
pyobjc-framework-quartz=6.2.2=pypi_0
pyobjc-framework-quicklookthumbnailing=6.2.2=pypi_0
pyobjc-framework-safariservices=6.2.2=pypi_0
pyobjc-framework-scenekit=6.2.2=pypi_0
pyobjc-framework-screensaver=6.2.2=pypi_0
pyobjc-framework-scriptingbridge=6.2.2=pypi_0
pyobjc-framework-searchkit=6.2.2=pypi_0
pyobjc-framework-security=6.2.2=pypi_0
pyobjc-framework-securityfoundation=6.2.2=pypi_0
pyobjc-framework-securityinterface=6.2.2=pypi_0
pyobjc-framework-servicemanagement=6.2.2=pypi_0
pyobjc-framework-social=6.2.2=pypi_0
pyobjc-framework-soundanalysis=6.2.2=pypi_0
pyobjc-framework-speech=6.2.2=pypi_0
pyobjc-framework-spritekit=6.2.2=pypi_0
pyobjc-framework-storekit=6.2.2=pypi_0
pyobjc-framework-syncservices=6.2.2=pypi_0
pyobjc-framework-systemconfiguration=6.2.2=pypi_0
pyobjc-framework-systemextensions=6.2.2=pypi_0
pyobjc-framework-usernotifications=6.2.2=pypi_0
pyobjc-framework-videosubscriberaccount=6.2.2=pypi_0
pyobjc-framework-videotoolbox=6.2.2=pypi_0
pyobjc-framework-vision=6.2.2=pypi_0
pyobjc-framework-webkit=6.2.2=pypi_0
pyqt=5.9.2=py38h655552a_2
pyqtgraph=0.11.0=py_0
python=3.8.5=h26836e1_1
pyttsx3=2.90=pypi_0
qt=5.9.7=h468cd18_1
qtawesome=1.0.1=py_0
qtpy=1.9.0=py_0
readline=8.0=h1de35cc_0
setuptools=50.3.2=pypi_0
sip=4.19.8=py38h0a44026_0
six=1.15.0=py38hecd8cb5_0
speechrecognition=3.8.1=pypi_0
sqlite=3.33.0=hffcf06c_0
tk=8.6.10=hb0a8c7a_0
wheel=0.35.1=pyhd3eb1b0_0
xz=5.2.5=h1de35cc_0
zlib=1.2.11=h1de35cc_3
